img {
	width:  100%;
	height: 100%;
}



body {
    background-color: #FEF2C9;
    width: 100%;
    margin: 0;
}

.head {
}

.headBox {
	display:flex;
	justify-content: space-around;
	width: 100%;
	background-color: lightblue;
}

.box {
	width: 30%;
	height: 30%;
	text-align: center;
}

.container {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
}

.body {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.textBox {
	width: 100%;
	display: flex;
	justify-content: center;
}

.text {
	width: 90%;
	text-align: center;
}


.homePage {
	flex-direction: column;
}

.loginBox {
	widh: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.footer {
	width: 100%;
	position: fixed;
	background-color: lightblue;
}

.input {
	display: flex;
}

.inputBox {
	width: 50%;
}

.formBox {
	width: 70%;
	padding: 20px;
}




