img {
	width:  100%;
	height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
}

body {
    background-color: #FEF2C9;
}

.head {
}

.headBox {
	display:flex;
	justify-content: space-around;
	width: 100%;
}

.box {
	width: 30%;
	height: 30%;
	text-align: center;
}

.container {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
}

.body {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.textBox {
	width: 100%;
	display: flex;
	justify-content: center;
}

.text {
	width: 90%;
	text-align: center;
}


.homePage {
	flex-direction: column;
}

.loginBox {
	widh: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.footer {
	width: 100%;
}